body {
    background-color: 121212;
}
header {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-size: 40px;
    margin-left: 5%;
}
h4 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    font-size: 40px;
    text-align: center;
    border: 5px solid white;
    padding: 10px;
}
div {
    margin: 30px 160px 140px 120px;
}
img {
    width: 50%;
    border-radius: 20px;
    margin: 10px 30px 30px 30px;
    float: left;
}
h2 {
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: white;
    text-align: justify;
    padding: 20px;
} 
ul {
    margin: 15px;
    text-align: center;
    word-spacing: 10px;
}
li {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    cursor: pointer;
    transition: 0.6s all ease;
    text-align: center;
}
li:hover {
    color: aqua;
    transition: 0.6s all ease;
    text-align: center;
}
li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(1, 146, 230);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    text-align: center;
}
li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-align: center;
}
a{
    color: white;
    text-decoration:none;
}